.upcomingClasses-section{
    overflow: scroll;
    height: 22.2rem;
}

.class-card{
    border: 1px solid black;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    font-size: .9rem;
    height: 10.375rem;
}


.class-text{
    display: flex;
    flex-direction: column;
}



.image{
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    margin-right: 2rem;
    width: 7.5rem;
    height: 10.375rem;
}

