.featured-container {
  display: flex;
  margin: 2rem;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

/* Left side of featured instructors */
.view-more-btn {
  margin-top: 0.5rem;
  font-size: 0.75rem;
  background-color: rgb(205, 205, 212);
  border: 0.5px solid grey;
  border-radius: 5px;
  cursor: pointer;
  color: rgb(58, 64, 86);
}

.view-more-btn:hover {
  background-color: rgb(246, 239, 239);
}

/* Right side of featured instructors */
.rt-card {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  font-size: 0.75rem;
  padding-bottom: 16px !important;
}

.icon-container {
  display: flex;
  gap: 0.5rem;
  width: 20px;
  height: 20px;
}

.featured-btn {
  background-color: rgb(118, 117, 120);
  border: 1px solid rgb(120, 120, 120);
  color: white;
  font-size: 0.75rem;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 0.5rem;
}

.featured-btn:hover {
  background-color: rgb(177, 176, 179);
}

.featured-icon {
  width: 20px !important;
  height: 20px !important;
}

.chip-pill {
  /* width: 50% !important; */
  height: 75% !important;
  font-size: 0.75rem !important;
}

.chip-container {
  display: flex;
  flex-direction: row;
  flex-basis: auto;
}
