.featured-container {
  display: flex;
  margin-bottom: 2rem;
  margin-right: 2rem;
  position: static;
}

/* Left side of featured instructors */
.left-side {
  text-align: center;
  margin: auto;
}

.featured-img {
  width: 35%;
  border-radius: 50%;
  text-align: center;
}

/* Right side of featured instructors */
.rt-card {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  font-size: 0.75rem;
}

.icon-container {
  display: flex;
  gap: 0.5rem;
  width: 20px;
  height: 20px;
}

.featured-btn {
  background-color: rgb(118, 117, 120);
  border: 1px solid rgb(120, 120, 120);
  color: white;
  font-size: 0.75rem;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 0.5rem;
}

.featured-btn:hover {
  background-color: rgb(177, 176, 179);
}

.featured-icon {
  width: 20px !important;
  height: 20px !important;
}

.chip-pill {
  width: 50% !important;
  height: 75% !important;
  font-size: 0.75rem !important;
}
